pipeline/SetActivityDemo.json
{
	"name": "SetActivityDemo",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": "Hi"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": {
						"value": "@concat(variables('var'),' Ritesh')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var": {
				"type": "String"
			},
			"var2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-23T13:58:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}